/*@media only screen and (max-width:600px) {
/**Mobil için max-width, bilgisayar için ise min-width kullanırız 😳
.body{
width:100%;
text-align:center;
background: url(https://cdn.discordapp.com/attachments/853166696214691851/914227570554310666/Voxc_wallpaper.png);
color:White;
}
}**/
:root{
  /** Yazi renkleri **/
  --baslikrenk : #5B64EF;
  --aciklamarenk : #AEAEAE;
  --aciktemaciklama : #a5a5a5;
  --aciktemabaslik : black;
  /**arka planlar**/
  --arkaplan : #181818;
  --menurenk : #23272a;
  /**button**/
  --butonborder : #ff5349;
  /**footer**/
  --footerarkaplan : #131313;
  --sosyal: #181818;
  /**Footer sosyal medialar**/
  --facebook: #3b5998;
  --twitter: #1faee9;
  --github: #171515;
  --linkedin: #2867B2;
  --youtube: #c4302b;
  --discord: #5164DF;
  --instagram1: #405DE6;
  --instagram2: #5851DB;
  --instagram3:#833AB4;
  --instagram4:#C13584;
  --instagram5:#E1306C;
  --instagram6: #FD1D1D;
  --instagram7:#F56040;
  --instagram8: #F77737;
  --instagram9:#FCAF45;
  --instagram10:#FFDC80;
  /**Footer sosyal medialar RGB**/
  --twitterrgb:68, 204, 246;
  --facebookrgb:59, 89, 152;
  --linkedinrgb: 0, 119, 181;
  --githubrgb: 54, 70, 93;
  --youtubergb: 230, 33, 23;
  --instagramrgb: 235, 73, 127;
  --discordrgb: 81, 100, 223
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body
{
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  background: url(https://cdn.discordapp.com/attachments/853166696214691851/914227570554310666/Voxc_wallpaper.png);
box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-track {
  background: #333333;
}

body::-webkit-scrollbar-thumb {
   background: linear-gradient(#fff,#d3d3d3);
  border-radius: 20px;
  border: 1px solid #333;
}
    a{
      text-decoration: none;
    }
  ul.mobmen {
    text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
    border: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   background-color: #111;
}
ul.mobmen li {float: left;}
ul.mobmen li a {
    font-size: 30px;
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}
ul.mobmen li a:hover { background-color: #333;
                      transition: all 3s;
                      border-bottom: 2px solid white;}
ul.mobmen li.icon {display: none;}

@media screen and (max-width:680px) {
  ul.mobmen li:not(:first-child) {display: none;}
  ul.mobmen li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  ul.mobmen.responsive {position: relative;}
  ul.mobmen.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.mobmen.responsive li {
    float: none;
    display: inline;
  }
  ul.mobmen.responsive li a {
    display: block;
    text-align: left;
  }
  }
.nav{
  font-family: 'Roboto', sans-serif;
}
.nav1{
  font-size: 40px;
  display: inline-block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  font-size: 35px;
}
.nav1 img{
width: 40px;
height: 40px;

}
.bot{
  background: url('https://cdn.discordapp.com/attachments/904429992472096859/924721364064149504/unknown.png')
  border-radius: 15%;
  width: 450px;
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-top: 20%;
  color: #fff;
}
.bot img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  cursor: pointer;
  transition: 0.5s;
}
.bot img:hover{
  transform: scale(0.8);
}
.bot h1{
  font-size: 40px;
letter-spacing: 4px;
font-weight: 800;
}
.bot h4{
  font-size: 25px;
  letter-spacing: 1px;
  font-weight: bold;
}
.bot i{
transition: 0.4s;
}
.bot i:hover{
  transform: scale(0.7);

}
.komut{
  border-radius: 15px;
  float:left;
  width: 450px;
  padding: 40px;
  text-align: center;
  margin: 40px;
  margin-top: 10%;
  color: var(--yrenk5);
  font-family: sans-serif;
  background:  var(--arka1);
}
.komut h1{
    font-size: 40px;
  letter-spacing: 4px;
  font-weight: 100;
  font-family: 'Shadows Into Light', cursive;
}
.komut h4{
font-size: 25px;
letter-spacing: 1px;
font-weight: 100;
font-family: 'Anton', sans-serif;
}
.komut p{
  font-size: 27px;
    font-family: 'Shadows Into Light', cursive;
}
svg {
  bottom: 0;
  width: 100%;
  height: auto;
}
section {
  width: 100%;
  display: inline-block;
  background: #ccc;
  height: 60vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}
.footer-distributed {
  background-color: var(--footerarkaplan);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
}
.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}
/**============================[Footer #2]============================**/
/**                              Linkler                              **/
/**============================[---------]============================**/
.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
}
.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}
.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}
.footer-distributed .footer-links .link-1:before {
  content: none;
}
.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}
.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: var(--sosyal);
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition:all .25s;
  margin-bottom: 6px;
}
/**============================[Footer #3]============================**/
/**                          Sosyal medyalar                          **/
/**============================[---------]============================**/
#facebook:hover{
background-color:var(--facebook);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(var(--facebookrgb));
   -moz-box-shadow:    0px 0px 10px 0px rgba(var(--facebookrgb));
   box-shadow:         0px 0px 10px 0px rgba(var(--facebookrgb));
}
#twitter:hover{
  background-color:var(--twitter);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(var(--twitterrgb));
   -moz-box-shadow:    0px 0px 10px 0px rgba(var(--twitterrgb));
   box-shadow:         0px 0px 10px 0px rgba(var(--twitterrgb));
}
#github:hover{
  background-color:var(--github);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(var(--githubrgb));
   -moz-box-shadow:    0px 0px 10px 0px rgba(var(--githubrgb));
   box-shadow:         0px 0px 10px 0px rgba(var(--githubrgb));
}
#linkedin:hover{
  background-color:var(--linkedin);
   -webkit-box-shadow: 0px 0px 10px 0px rgba(var(--linkedinrgb));
   -moz-box-shadow:    0px 0px 10px 0px rgba(var(--linkedinrgb));
   box-shadow:         0px 0px 10px 0px rgba(var(--linkedinrgb));
}

#youtube:hover{
  background-color:var(--youtube);
 -webkit-box-shadow: 0px 0px 10px 0px rgba(var(--youtubergb));
   -moz-box-shadow:    0px 0px 10px 0px rgba(var(--youtubergb));
   box-shadow:         0px 0px 10px 0px rgba(var(--youtubergb));
}
#instagram:hover{
 background-color: var(--instagram5);
  webkit-box-shadow: 0px 0px 10px 0px rgba(var(--instagramrgb));
   -moz-box-shadow:    0px 0px 10px 0px rgba(var(--instagramrgb));
   box-shadow:         0px 0px 10px 0px rgba(var(--instagramrgb));
}
#discord:hover{
 background-color: var(--discord);
  webkit-box-shadow: 0px 0px 10px 0px rgba(var(--discordrgb));
   -moz-box-shadow:    0px 0px 10px 0px rgba(var(--discordrgb));
   box-shadow:         0px 0px 10px 0px rgba(var(--discordrgb));
}
/**============================[Footer #4]============================**/
/**                             Animasyon                             **/
/**============================[---------]============================**/
.footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}
.footer-distributed p.footer-links a:hover{text-decoration:underline;}
/**============================[Footer #5]============================**/
/**                               Media                               **/
/**============================[---------]============================**/
@media (max-width: 600px) {
  .footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}
